
&mac {
    status = "disabled";
    pinctrl-0 = <
        &eth_rx_clk_pa1
        &eth_rx_dv_pa7
        &eth_rxd2_pb0
        &eth_rxd3_pb1
        &eth_txd2_pc2
        &eth_tx_clk_pc3
        &eth_rxd0_pc4
        &eth_rxd1_pc5
        &eth_txd3_pe2
        &eth_tx_en_pg11
        &eth_txd1_pg12
        &eth_txd0_pg13
        &eth_rx_er_pi10
        /* &eth_crs_ph2  <-- REMOVE OR COMMENT OUT */
        /* &eth_col_ph3  <-- REMOVE OR COMMENT OUT */
    >;
    phy-connection-type = "mii";
    phy-handle = <&eth_phy>;
    pinctrl-names = "default";
};

&mdio {
    status = "disabled";
    // In Zephyr's build system, DTS status inheritance works for driver initialization but doesn't
    // always prevent the C header generation from creating references.
    eth_phy: ethernet-phy@1 {
        compatible = "ethernet-phy";
        reg = <1>;
        status = "disabled";
    };
    pinctrl-0 = <&eth_mdio_pa2 &eth_mdc_pc1>;
    pinctrl-names = "default";
};


// The usbd Shell hardcodes the use of the label zephyr_udc0 at zephyr/subsys/usb/device_next/usbd_shell.c:49
zephyr_udc0: &usbotg_fs {
    pinctrl-0 = <
        &usb_otg_fs_sof_pa8
        /*&usb_otg_fs_vbus_pa9*/ /* VBUS sensing, Commented out to make it work */
        &usb_otg_fs_id_pa10
        &usb_otg_fs_dm_pa11
        &usb_otg_fs_dp_pa12
    >;
    pinctrl-names = "default";
    status = "okay";
};

/ {
    cdc_ncm_eth0: cdc_ncm_eth0 {
        compatible = "zephyr,cdc-ncm-ethernet";
        remote-mac-address = "00005E005301";  // Apparently any could work
    };
};

// Required for the USB controller to work.
&clk_hsi48 {
    status = "okay";
};