&i2c1 {
    vdsl53l5cx: vl53l5cx@29 {
        compatible = "st,vl53l5cx";
        reg = <0x29>;
        lpn-gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
        
    };
    clock-frequency = <400000>;
};

&i2c1_scl_pb8 {
    /delete-property/ bias-pull-up;
    bias-disable;
};

&i2c1_sda_pb9 {
    /delete-property/ bias-pull-up;
    bias-disable;  
};


/ {
    chosen {
        zephyr,ppp-uart = &usart1;
    };
};


// PPP: improved ping from 25ms to 3.5ms
&usart1 {
	current-speed = <1000000>; 
};